#universe{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

#game_container{
    display: flex;
    justify-content: center;
    width: auto;
}

.warehouse{
    background-color: rgba(246, 191, 240);
    width: 15vw;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-left: 1%;
}

#holes{
    background-color: rgba(246, 191, 240, 0.548);
    display: flex;
    flex-direction: column;
}

.hole{
    background-color: rgba(246, 191, 240);
    width: 10vw;
    height: 10vw;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-top: 1%;
    padding-left: 1%;
    margin: 5px;
    border-radius: 15%;
}

.hole p{
    margin: 0;
}

.pieces{
    height: 80%;
    overflow: hidden;
    position: relative;
}

.piece{
    background: radial-gradient(circle at center, rgba(246, 191, 240), rgb(248, 156, 237), rgb(243, 120, 229));
    /* background-color: red; */
    position:absolute;
    border-radius: 50%;
}

#up_holes{
    display: flex;
    border: solid;
    border-color: rgba(246, 191, 240, 0.548);
}

#down_holes{
    display: flex;
    border: solid;
    border-color: rgba(246, 191, 240, 0.548);
}